* {
	margin: 0;
	padding: 0;
}
/* 头部 */
.header {
	position: fixed;
	width: 100%;
	height: 52px;
	line-height: 52px;
	background: #101010;
	z-index: 100;
	
}
.header .logo {
	margin-left: 3%;
}
.header h1 {
	display: inline-block;
	margin-left: 1%;
	color: #fff;
	font-size: 20px;
	/* margin-left: 20%; */
}
.content {
	position: relative;
	display: flex;
	width: 100%;
	height: 750px;
	top: 52px;
}
/* 侧边栏 */
.sider {
	flex: 0 0 16%;
	/* position: fixed; */
	height: 100%;
	background: #ddd;
	position: relative;
}
.info-do {
	padding-top: 9%;
}
.info-do li {
	width: 100%;
	text-align: center;
	padding-top: 5%;
	padding-bottom: 5%;
	color: #428bca;
	cursor: pointer;
	position: relative;
}
/*.info-do li:hover {
	background: #428bca;
	color: #fff;
}*/
.second-list {
	display: none;
	position: absolute;
	top: 2.5%;
	right: -40.5%;
}
.second-list li {
	list-style: none;
	background: #ddd;
	color: #428bca;
	height: 40px;
    line-height: 40px;
    width: 95px;
    text-align: center;
}
.second-list li:hover {
	background: #428bca !important;
	
}
.second-list li a:hover {
	color: #fff !important;
}
.highlight {
	background: #428bca !important;
	color: #fff !important;
}
.main-content {
	flex: 1;
	padding: 3%;
}
.content-header {
	margin-bottom: 2%;
}
.small-title {
	display: inline-block;
	margin-left:80%;
	font-size:16px;
	font-weight: 200;
	cursor: pointer;


}
.banner-kind {
	margin-top: 1%;
	float: left;
	 width: 100%; 
}
.banner-kind li {
	position: relative;
	list-style: none;
	display: inline-block;
	/* text-align:center; */
	margin-right:1%;
	margin-bottom: 30%;
}
.banner-kind li img {
	width:233px;
}
.mask {
	position: relative;
	top:0;
	left:0;
	width:233px;
	height:145.63px;
	/* border: 1px solid #000; */
	box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.49);
	line-height: 145.63px;
	text-align: center;
	color:#000;
	font-size:20px;
}
#upload {
	margin-top: 5%;
	margin-left: 13%;
}	
/* 文件上传 */
.img-update {
	float: left;
	width: 30%;
	margin-left: 4%;
}
.img-update li {
	list-style: none;
}
/*文章管理*/
.articel-list {
	margin-top: 2%;
    width: 100%;
}
table th {
    font-weight: bold;
    color: inherit;
    border-bottom: 1px solid #6b86b3;
    width: 50px;
    text-align: center;
}
table th.post-title {
    padding-left: 5px;
}
table th.publish-status {
    width: 70px;
}
.post-title {
    text-align: left;
}
td {
    padding: 5px;
    text-align: center;
    border-bottom: 1px solid #e6e6e6;
    height: 22px;
}

table tr:nth-child(even){
	background:#F4F4F4;
}
/*文本编辑器*/
.textEdit {
	width: 100%;
    height: 100%;
    border: none;
}
/*关于我们*/
.aboutUs {
	margin-top: 3%;
	margin-left:2%;
}
.aboutUs li {
	list-style: none;
}
.aboutUs li p {
	margin-bottom: 1%;
}
.aboutUs li input {
	border-radius: 3%;
    border: 1px solid;
}
.stroeIntr {
	width: 350px;
    height: 200px;
    margin-left: 1%;
    margin-bottom: 1%;
}
.stroeImg li {
	display: inline-block;
	margin-right:2%;
}
.stroeImg li img {
	width: 180px;
}
.button {
	margin-left: 40%;
    margin-top: 3%;
    
}
.button button {
	width: 80px;
    height: 45px;
}

/* 编辑 */
.articel-title {
	width: 96%;
	margin-left: 2%;
	font-weight: 700;
}
/* 分页 */
.page {
	width: 100%;
	margin-left: 32%;
	margin-top: 5%;
}
.pageUl {
	/* width: 19%; */
	float: left;
}
.pageUl li{
	color:#CCCCCC;
	border:1px #CCCCCC solid;
	padding:2px 10px;
	display: inline-block;
	text-align:center;
	cursor:pointer;
}
.BORDER{
	border: 1px solid #cad6ce;
	padding:2px 10px;
	color:#a9bdb1;
	cursor:pointer;
}
.paging li {
	display: inline-block;
	font-size: 18px;
	color: #a9bdb1;
	padding-left: 5px;
	padding-right: 5px;
	margin-right: 20px;
}
.curPage{
	color:white;
	background:#fee974;
	border:1px #fee974 solid;
	padding:2px 10px;
	float:left;
	text-align:center;
	cursor:pointer;
}
.disbled{
	color:#CCCCCC;
	border:1px #CCCCCC solid;
	padding:2px 10px;
	float:left;
	text-align:center;
	cursor:not-allowed;
}
.paging {
	width: 100%;

}
