<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="blog.geek.dao.ArticleDao">
    <resultMap id="article" type="article">
        <id column="article_id" javaType="String" jdbcType="VARCHAR" property="articleId"/>
        <result column="article_title" javaType="String" jdbcType="VARCHAR" property="articleTitle"/>
        <result column="article_content" javaType="String" jdbcType="VARCHAR" property="articleContent"/>
        <result column="article_time" javaType="String" jdbcType="VARCHAR" property="articleTime"/>
        <result column="article_link" javaType="String" jdbcType="VARCHAR" property="articleLink"/>
    </resultMap>

    <insert id="insertArticle" parameterType="article">
        INSERT INTO
          article(article_id,article_title,article_content,article_time,article_link)
        VALUES
          (#{articleId},#{articleTitle},#{articleContent},#{articleTime},#{articleLink})
    </insert>

    <delete id="deleteArticles" parameterType="java.util.List">
        DELETE FROM article WHERE article_id IN
        <foreach collection="articleIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteArticle" parameterType="String">
        DELETE FROM article WHERE article_id = #{arg0}
    </delete>

    <update id="updateArticle" parameterType="article">
        UPDATE article
        <set>
            <if test="articleTitle != null and articleTitle != ''">
                article_title = #{articleTitle},
            </if>
            <if test="articleContent != null and articleContent != ''">
                article_content = #{articleContent},
            </if>
            <if test="articleLink != null and articleLink != ''">
                article_link = #{articleLink}
            </if>
        </set>
        WHERE article_id = #{articleId}
    </update>

    <select id="findAllArticles" resultMap="article" parameterType="_integer">
        select article_id,article_title,article_Content,article_time,article_link
          FROM article
            LIMIT #{arg0},#{arg1}
    </select>

    <select id="findArticlesByKeyWord" resultMap="article">
        select article_id,article_title,article_Content,article_time,article_link
          FROM article
            WHERE article_title LIKE #{arg0,javaType=String}
    </select>

    <select id="findArticlesByTime" resultMap="article">
        select article_id,article_title,article_Content,article_time,article_link
        FROM article
        WHERE article_time LIKE #{arg0,javaType=String}
    </select>

    <select id="getTotal" resultType="_integer">
        SELECT COUNT(article_id) FROM article
    </select>
</mapper>