<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="blog.geek.dao.BannerDao">
    <resultMap id="banner" type="banner">
        <id column="banner_id" javaType="String" jdbcType="VARCHAR" property="bannerId"/>
        <result column="banner_type" javaType="String" jdbcType="VARCHAR" property="bannerType"/>
    </resultMap>

    <insert id="insertBanner" parameterType="banner">
        INSERT INTO banner(banner_id,banner_type)
          VALUES (#{bannerId},#{bannerType});
    </insert>

    <delete id="deleteBanner" parameterType="String">
        DELETE FROM banner WHERE banner_id = #{arg0}
    </delete>

    <select id="findAllBanners" resultType="banner">
        SELECT banner_type,image_address
          FROM banner,image
            WHERE image.image_ref = banner.banner_id
    </select>
</mapper>