<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="blog.geek.dao.BannerDao">

    <resultMap id="banner" type="banner">
        <id column="banner_id" javaType="String" jdbcType="VARCHAR" property="bannerId"/>
        <result column="banner_type" javaType="String" jdbcType="VARCHAR" property="bannerType"/>
        <result column="image_address" javaType="String" jdbcType="VARCHAR" property="bannerImg"/>
    </resultMap>

    <insert id="insertBannerImage">
        INSERT INTO banner(banner_id,banner_type) VALUES (#{banner.bannerId},#{banner.bannerType});
        INSERT INTO image(image_id,image_name,image_address,image_ref) VALUES (#{image.imageId},#{image.imageName},#{image.imageAddress},#{image.imageRef});
    </insert>

    <delete id="deleteBanner" parameterType="String">
        DELETE FROM banner WHERE banner_id = #{arg0};
        DELETE FROM image WHERE image_ref = #{arg0}
    </delete>

    <update id="updateBanner">
        UPDATE banner
        <set>
            <if test="banner.bannerType != null and banner.bannerType != ''">
                banner_type = #{banner.bannerType}
            </if>
        </set>
        WHERE banner_id = #{banner.bannerId};

        <if test="image.imageName != null and image.imageName != ''">
            UPDATE image
            <set>
                <if test="image.imageName != null and image.imageName != ''">
                    image_name = #{image.imageName},
                </if>
                <if test="image.imageAddress != null and image.imageAddress != ''">
                    image_address = #{image.imageAddress},
                </if>
            </set>
            WHERE image_ref = #{banner.bannerId}
        </if>
    </update>

    <select id="findAllBanners" resultMap="banner" parameterType="_integer">
        SELECT banner_id,banner_type,image_address
          FROM banner,image
            WHERE banner.banner_id = image.image_ref
            LIMIT #{arg0},#{arg1}
    </select>

    <select id="getTotal" resultType="_integer">
        SELECT count(banner_id) FROM banner;
    </select>
</mapper>