<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="blog.geek.dao.ImageDao">

    <insert id="insertImage" parameterType="image">
        INSERT INTO image(image_id,image_name,image_address,image_ref)
          VALUES (#{imageId},#{imageName},#{imageAddress},#{imageRef})
    </insert>

    <delete id="deleteImage" parameterType="String">
        DELETE FROM image WHERE image_id = #{arg0}
    </delete>

    <update id="updateImage" parameterType="image">
        UPDATE image
        <set>
            <if test="imageName != null and imageName != ''">
                image_name = #{imageName},
            </if>
            <if test="imageAddress != null and imageAddress != ''">
                image_address = #{imageAddress},
            </if>
            <if test="imageRef != null and imageRef != ''">
                image_ref = #{imageRef}
            </if>
        </set>
        WHERE image_id = #{imageId}
    </update>

</mapper>