<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="blog.geek.dao.ImageDao">

    <insert id="insertImage" parameterType="image">
        INSERT INTO image(image_id,image_name,image_address,image_ref)
        VALUES
            (#{imageId},#{imageName},#{imageAddress},#{imageRef})
    </insert>

    <delete id="deleteImagesByImagePath" parameterType="java.util.List">
        DELETE FROM image WHERE image_address IN
        <foreach collection="paths" open="(" separator="," close=")" item="path">
            #{path}
        </foreach>
    </delete>

    <select id="getImagePath" parameterType="String" resultType="String">
        SELECT image_address FROM image WHERE image_ref = #{arg0}
    </select>

    <select id="getImagePaths" parameterType="java.util.List" resultType="String">
        SELECT image_address FROM image WHERE image_ref IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

</mapper>
