<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="blog.geek.dao.ProductDao">

    <resultMap id="product" type="product">
        <id column="product_id" javaType="String" jdbcType="VARCHAR" property="productId"/>
        <result column="product_name" javaType="String" jdbcType="VARCHAR" property="productName"/>
        <result column="product_type" javaType="String" jdbcType="VARCHAR" property="productType"/>
        <result column="product_content" javaType="String" jdbcType="VARCHAR" property="productContent"/>
        <result column="product_price" javaType="String" jdbcType="VARCHAR" property="productPrice"/>
        <result column="image_address" javaType="String" jdbcType="VARCHAR" property="productImg"/>
    </resultMap>

    <insert id="insertProduct">
        INSERT INTO
          product(product_id,product_name,product_type,product_content,product_price)
        VALUES
          (#{product.productId},#{product.productName},#{product.productType},#{product.productContent},#{product.productPrice});

        INSERT INTO
          image(image_id,image_name,image_address,image_ref)
        VALUES
          (#{image.imageId},#{image.imageName},#{image.imageAddress},#{image.imageRef});
    </insert>

    <delete id="deleteProduct" parameterType="String">
        DELETE FROM product WHERE product_id = #{arg0};
        DELETE FROM image WHERE image_ref = #{arg0}
    </delete>

    <update id="updateProduct">
        UPDATE product
        <set>
            <if test="product.productName != null and product.productName != ''">
                product_name = #{product.productName},
            </if>
            <if test="product.productType != null and product.productType != ''">
                product_type = #{product.productType},
            </if>
            <if test="product.productContent != null and product.productContent != ''">
                product_content = #{product.productContent},
            </if>
            <if test="product.productPrice != null and product.productPrice != ''">
                product_price = #{product.productPrice}
            </if>
        </set>
        WHERE product_id = #{product.productId};

        <if test="image.imageName != null and image.imageName != ''">
            UPDATE image
            <set>
                <if test="image.imageName != null and image.imageName != ''">
                    image_name = #{image.imageName},
                </if>
                <if test="image.imageAddress != null and image.imageAddress != ''">
                    image_address = #{image.imageAddress}
                </if>
            </set>
            WHERE image_ref = #{product.productId}
        </if>
    </update>

    <select id="findAllProducts" resultMap="product" parameterType="_integer">
        SELECT product_id,product_name,product_type,product_content,product_price,image_address
          FROM product,image
            WHERE image.image_ref = product.product_id
            LIMIT #{arg0},#{arg1}
    </select>

    <select id="findProductByType" resultMap="product" parameterType="String">
        SELECT product_id,product_name,product_type,product_content,product_price,image_address
          FROM product,image
            WHERE image.image_ref = product.product_id
              AND product_type = #{arg0}
    </select>

    <select id="getTotal" resultType="_integer">
        SELECT COUNT(product_id) FROM product
    </select>
</mapper>