<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="blog.geek.dao.ScheduleDao">
    <resultMap id="schedule" type="schedule">
        <id column="schedule_id" javaType="String" jdbcType="VARCHAR" property="scheduleId"/>
        <result column="schedule_type" javaType="String" jdbcType="VARCHAR" property="scheduleType"/>
        <result column="image_address" javaType="String" jdbcType="VARCHAR" property="scheduleImg"/>
    </resultMap>

    <update id="updateSchedule">
        UPDATE schedule
        <set>
            <if test="schedule.scheduleType != null and schedule.scheduleType != ''">
                schedule_type = #{schedule.scheduleType}
            </if>

        </set>
        WHERE schedule_id = #{schedule.scheduleId};

        <if test="image.imageName != null and image.imageName != ''">
            UPDATE image
            <set>
                <if test="image.imageName != null and image.imageName != ''">
                    image_name = #{image.imageName},
                </if>
                <if test="image.imageAddress != null and image.imageAddress != ''">
                    image_address = #{image.imageAddress}
                </if>
            </set>
            WHERE image_ref = #{schedule.scheduleId}
        </if>
    </update>

    <select id="findScheduleByType" resultMap="schedule" parameterType="String">
        SELECT schedule_id,schedule_type,image_address
        FROM schedule,image
        WHERE image.image_ref = schedule.schedule_id
        AND schedule_type = #{arg0}
    </select>

</mapper>